footer{
    padding-top: 78px;
    padding-bottom: 75px;
    background-color: black;
    h3{
        font-weight: 700;
        font-size: 22px;
        line-height: 22px;
        letter-spacing: 4px;
        text-transform: uppercase;
        color: #FF8A56;
        text-align: center;
        margin-bottom: 20px;
    }
    h2{
        padding-bottom: 100px;
        font-weight: 700;
        font-size: 54px;
        line-height: 59px;
        letter-spacing: 1px;   
        color: #FFFFFF;
        text-align: center;
    }
    
}
.footer-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .card-left{
        width: 40%;
        .card-link{
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid rgba(229, 229, 229, 0.3);
            padding: 40px 0;
            h4{
                font-weight: 700;
                font-size: 24px;
                line-height: 31px;
                letter-spacing: 0.3px;
                color: #FFFFFF;
            }
            img{
                width: 15px;
                height: 15px;
            }

        }
    }
}

.card-second{
    display: none;
    background-color: #FFFFFF;
    padding: 20px 5px 20px 0;
    span{
        margin: 20px 0;
    }

    h5{
        color: black;
        font-weight: 500;
        font-size: 24px;
        line-height: 31px;
        letter-spacing: 0.3px;
         display: inline-block;
                
    }
    h6{
        margin-top: 5px;
        font-size: 15px ;
        color: black;
        display: inline-block;
        float: right;
    }
}
.pastStrelkaYoqBolish{
    .card-second{
        display: block;
    }
}
.card-second1{
    display: none;
    background-color: #FFFFFF;
    padding: 20px 5px 20px 0;
    span{
        margin: 20px 0;
    }

    h5{
        color: black;
        font-weight: 500;
        font-size: 24px;
        line-height: 31px;
        letter-spacing: 0.3px;
         display: inline-block;
                
    }
    h6{
        margin-top: 5px;
        font-size: 15px ;
        color: black;
        display: inline-block;
        float: right;
    }
}
.pastStrelkaYoqBolish1{
    .card-second1{
        display: block;
    }
}
.card-second2{
    display: none;
    background-color: #FFFFFF;
    padding: 20px 5px 20px 0;
    span{
        margin: 20px 0;
    }

    h5{
        color: black;
        font-weight: 500;
        font-size: 24px;
        line-height: 31px;
        letter-spacing: 0.3px;
         display: inline-block;
                
    }
    h6{
        margin-top: 5px;
        font-size: 15px ;
        color: black;
        display: inline-block;
        float: right;
    }
}
.pastStrelkaYoqBolish2{
    .card-second2{
        display: block;
    }
}
.card-second3{
    display: none;
    background-color: #FFFFFF;
    padding: 20px 5px 20px 0;
    span{
        margin: 20px 0;
    }

    h5{
        color: black;
        font-weight: 500;
        font-size: 24px;
        line-height: 31px;
        letter-spacing: 0.3px;
         display: inline-block;
                
    }
    h6{
        margin-top: 5px;
        font-size: 15px ;
        color: black;
        display: inline-block;
        float: right;
    }
}
.pastStrelkaYoqBolish3{
    .card-second3{
        display: block;
    }
}
.card-second4{
    display: none;
    background-color: #FFFFFF;
    padding: 20px 5px 20px 0;
    span{
        margin: 20px 0;
    }

    h5{
        color: black;
        font-weight: 500;
        font-size: 24px;
        line-height: 31px;
        letter-spacing: 0.3px;
         display: inline-block;
                
    }
    h6{
        margin-top: 5px;
        font-size: 15px ;
        color: black;
        display: inline-block;
        float: right;
    }
}
.pastStrelkaYoqBolish4{
    .card-second4{
        display: block;
    }
}
.card-second5{
    display: none;
    background-color: #FFFFFF;
    padding: 20px 5px 20px 0;
    span{
        margin: 20px 0;
    }

    h5{
        color: black;
        font-weight: 500;
        font-size: 24px;
        line-height: 31px;
        letter-spacing: 0.3px;
         display: inline-block;
                
    }
    h6{
        margin-top: 5px;
        font-size: 15px ;
        color: black;
        display: inline-block;
        float: right;
    }
}
.pastStrelkaYoqBolish5{
    .card-second5{
        display: block;
    }
}
.card-second6{
    display: none;
    background-color: #FFFFFF;
    padding: 20px 5px 20px 0;
    span{
        margin: 20px 0;
    }

    h5{
        color: black;
        font-weight: 500;
        font-size: 24px;
        line-height: 31px;
        letter-spacing: 0.3px;
         display: inline-block;
                
    }
    h6{
        margin-top: 5px;
        font-size: 15px ;
        color: black;
        display: inline-block;
        float: right;
    }
}
.pastStrelkaYoqBolish6{
    .card-second6{
        display: block;
    }
}
.card-second7{
    display: none;
    background-color: #FFFFFF;
    padding: 20px 5px 20px 0;
    span{
        margin: 20px 0;
    }

    h5{
        color: black;
        font-weight: 500;
        font-size: 24px;
        line-height: 31px;
        letter-spacing: 0.3px;
         display: inline-block;
                
    }
    h6{
        margin-top: 5px;
        font-size: 15px ;
        color: black;
        display: inline-block;
        float: right;
    }
}
.pastStrelkaYoqBolish7{
    .card-second7{
        display: block;
    }
}